body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  box-sizing: border-box;
}

body.modal-open {
  overflow: hidden;
}

:root {
  --font-family: 'Roboto', sans-serif;
  --body-text: #434455;
  --background-color: #ffffff;
  --link-ocean: #404bbf;
  --main-link: #2e2f42;
  --porfolio-btn: #e7e9fc;
  --icon: #8e8f99;
  --social-link: #4d5ae5;
  --socials-link: #f4f4fd;
  --footer-iconsbg: #31d0aa;
  --label-text: #8e8f99;
  --border-icon-colot: rgba(77, 90, 229, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}
button {
  cursor: pointer;
}

/* studio */
.logoweb {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;

  padding: 24px 0;
  display: block;
}

@media only screen and (min-width: 768px) {
  .logoweb {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .logoweb {
    margin-right: 76px;
  }
}

.main-header {
  border-bottom: 1px solid #e7e9fc;
  background-color: var(--background-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);

  max-width: 1400px;

  margin: 0 auto;
}

/* header, webstudio*/

.primary-header {
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .primary-header {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  .primary-header {
    display: flex;
    align-items: center;
  }
}

.container {
  max-width: 428px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* TABLET SCREEN */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* TABLET SCREEN */

/* DESKTOP SCREEN */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* DESKTOP SCREEN */

/* mobile-menu */
.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.icon-close-link {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  padding: 0;
  background-color: rgba(231, 233, 252, 0.1);
  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.1);
  padding: 8px;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 80px 40px 40px 40px;

  width: 100%;
  height: 100vh;

  background-color: var(--background-color);

  z-index: 999;
}

.dive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-container.is-open {
  transform: translateX(0);
  display: block;
}

.menu-container .menu-toggle {
  position: fixed;
  top: 16px;

  color: #fff;
}

.mobile-menu {
  margin-bottom: auto;
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.mobile-menu .link {
  display: block;
}
.link-mobile {
  margin-bottom: 40px;
}

/* mobile-menu */

/* logo webstudio*/

.nav-link {
  display: flex;
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  .nav-link {
    display: flex;
    align-items: center;
    margin-right: 121px;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-link {
    display: flex;
    align-items: center;
    margin-right: 332px;
  }
}

@media only screen and (max-width: 767px) {
  .alert {
    display: none;
  }
}

.logo-web {
  color: var(--main-link);
}
/* menu list*/

.main-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.alert {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 36px;
}

@media only screen and (min-width: 768px) {
  .alert {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--main-link);

    padding: 24px 0 24px;
  }
}

.menu-adress-section {
  margin-bottom: 48px;
}

.menu-adress-li:first-child {
  margin-bottom: 40px;
}

@media screen and (max-width: 390px) {
  .menu-adress-li:first-child > .menu-address-link {
    font-size: 24px !important;
  }
}

.menu-adress-li:first-child > .menu-address-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
}

.menu-address-link-number {
  text-align: left;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;
}

.social-link-mobile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .line::after {
    position: absolute;
    content: '';

    width: 100%;
    height: 4px;

    left: 0;
    bottom: -1px;
    display: block;
    margin-top: 24px;

    background-color: var(--link-ocean);
    border-radius: 2px;
    transition: var(--social-link);
  }

  .color-nav-selected {
    color: var(--link-ocean);
  }
}

@media only screen and (max-width: 767px) {
  .color-nav-selected {
    color: var(--link-ocean);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-transform: capitalize;
  }
}

.nav-mobile {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-transform: capitalize;
  color: #2e2f42;
}

/* menu contacts*/

.main-contacts {
  display: flex;
  gap: 40px;
  margin: 0;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .main-contacts {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .main-contacts {
    display: block;
  }
}

.sections-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 1200px) {
  .sections-contact {
    display: block;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-style: normal;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 768px) and (min-width: 1999px) {
  .main-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media only screen and (max-width: 1200px) {
  .main-contacts li:first-child {
    margin-bottom: 12px;
  }
}

.sections-contact:hover,
.sections-contact:focus {
  color: var(--link-ocean);
}

/* main page button*/

.main-page {
  padding-top: 112px;
  padding-bottom: 112px;
  display: flex;
  margin: 0 auto;
  max-width: 1400px;

  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-back/Dark-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-page {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-back/Dark-bg_mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .main-page {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-back/Dark-bg_tablet@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main-page {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-back/1_desktopt@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .main-page {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-back/1_desktopt@2x.jpg);
    }
  }

  .main-page {
    padding: 188px 0;
  }
}

.hero-text {
  margin-bottom: 72px;
  text-align: center;
  max-width: 320px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--background-color);
}

@media only screen and (min-width: 768px) {
  .hero-text {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;

    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-text {
    text-align: center;
    margin-bottom: 48px;
  }
}

.button-order {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;

  border-radius: 4px;
  border: none;
  cursor: pointer;

  min-width: 169px;
  height: 56px;

  padding: 16px 32px;
  display: block;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: var(--link-ocean);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%) scale(1);
  padding: 24px;

  border-radius: 4px;
  width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 428px) {
  .modal {
    width: 335px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 24px;
  height: 24px;

  border: transparent;
  cursor: pointer;
  border-radius: 50%;

  background-color: #e7e9fc;
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.btn-close:hover,
.btn-close:focus {
  background-color: var(--link-ocean);
  border: none;
}

.btn-close:focus .icon-close {
  fill: #ffffff;
  color: #ffffff;
}

.btn-close:hover .icon-close {
  fill: #ffffff;
  color: #ffffff;
}

/* FORM WINDOW */

.hero-subtitle-form {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: #2e2f42;
}

/* NAME FORM LABEL*/

.form-label {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;

  color: var(--label-text);
}

.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.form-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  padding-left: 44px;

  width: 100%;
  height: 40px;

  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus ~ .person-icon,
.form-field:focus {
  border-color: var(--border-icon-colot);
  fill: var(--border-icon-colot);
}
/* NAME FORM LABEL*/

/* TEL FORM LABEL*/

.modal-label-phone {
  position: relative;
  display: block;

  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;

  color: var(--label-text);
}

.modal-phone-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  padding-left: 44px;

  width: 100%;
  height: 40px;

  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-phone-input:focus ~ .phone-icon,
.modal-phone-input:focus {
  border-color: var(--border-icon-colot);
  fill: var(--border-icon-colot);
}

/* TEL FORM LABEL*/

/* EMAIL FORM LABEL*/
.modal-label-email {
  position: relative;
  display: block;

  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;

  color: var(--label-text);
}

.email-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  padding-left: 44px;

  width: 100%;
  height: 40px;

  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-input:focus ~ .email-icon,
.email-input:focus {
  border-color: var(--border-icon-colot);
  fill: var(--border-icon-colot);
}

/* email FORM LABEL*/

/* TEXTARIA*/
.modal-textaria {
  width: 100%;
  min-height: 120px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;

  outline: transparent;
  padding-left: 10px;
  resize: none;

  transition: box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textaria:focus {
  border-color: var(--border-icon-colot);
  -webkit-box-shadow: 0px 0px 15px 4px rgba(45, 255, 196, 1);
  -moz-box-shadow: 0px 0px 15px 4px rgba(45, 255, 196, 1);
  box-shadow: 0px 0px 15px 4px rgba(45, 255, 196, 1);
}

/* TEXTARIA*/

/* CHECKBOX*/
.form-agreement {
  display: flex;

  align-items: center;
  margin-top: 16px;
  gap: 8px;
}

.link-check {
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.04em;
}

.privacy-policy {
  color: rgba(77, 90, 229, 1);
}

.check-modal-box {
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--label-text);
  border-radius: 2px;
  outline: transparent;
  transition: 300ms;
}

.check-modal-box:checked {
  background: rgba(64, 75, 191, 1);
  border-color: rgba(64, 75, 191, 1);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

/* CHECKBOX*/

.sumbit-button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  border-radius: 5px;
  background: #183153;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}
.sumbit-button:after {
  content: ' ';
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.sumbit-button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}
.sumbit-button .send-span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}
.sumbit-button:hover .send-span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* seconadry section*/

.seconadry-section {
  padding-top: 96px;
  padding-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1200px) {
  .seconadry-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-two {
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--main-link);

  margin-bottom: 8px;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .section-two {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: #2e2f42;
  }

  .text {
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.02em;

    text-align: left;

    color: #434455;
  }
}

@media only screen and (min-width: 768px) {
  .desc {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1200px) {
  .desc {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.banners {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f4f4fd;
  border-radius: 4px;

  width: 264px;
  height: 112px;
  margin-bottom: 8px;

  display: none;
}

@media only screen and (min-width: 1200px) {
  .banners {
    display: flex;
  }
}

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}

@media only screen and (min-width: 1200px) {
  .text {
    display: flex;
    flex-basis: calc((100% - 72px) / 4);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.02em;

    color: #434455;
  }

  .section-two {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #2e2f42;
  }
}

.not-mr {
  margin: 0;
}

.primary-desc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
  padding-left: 0;
}

@media only screen and (min-width: 768px) {
  .primary-desc {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  .primary-desc {
    display: flex;
    gap: 24px;
    row-gap: nowrap;
    padding-left: 0;
  }
}

/* 3 section*/
.doing {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;

  margin-bottom: 72px;
  margin-top: 0;
}
.picture {
  display: none;
  padding-bottom: 120px;
}

@media only screen and (min-width: 1158px) {
  .picture {
    display: block;
  }
}
.imge {
  flex-basis: calc((100% - 3 * 16px) / 3);

  height: auto;
}
.pic {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 3 * 16px) / 3);
  padding-left: 0;
  margin-top: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/* 4 section*/
.back-team {
  background-color: #f4f4fd;

  padding: 96px 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .back-team {
    padding: 96px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .back-team {
    padding: 120px 0;
  }
}

.our-team {
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  line-height: 1.11;

  color: #2e2f42;

  margin-bottom: 72px;
  margin-top: 0;
}

.staff {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  flex-wrap: wrap;

  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .staff {
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 64px;
  }
}

@media only screen and (min-width: 1200px) {
  .staff {
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 64px;
  }
}

.back {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.row {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}

.names {
  text-align: center;

  margin-bottom: 8px;
  margin-top: 0;

  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;

  color: #2e2f42;
}

.icons-blu {
  width: 40px;
  height: 40px;
}

.link-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--social-link);
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-icons {
  fill: var(--socials-link);
}

.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf;
}

.last-row {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}

/* 5 section*/

.aside {
  padding: 96px 0;
}

@media only screen and (min-width: 1200px) {
  .aside {
    padding: 120px 0;
  }
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;

  color: #2e2f42;

  margin-bottom: 72px;
  margin-top: 0;
}

.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}

@media only screen and (max-width: 768px) {
  .menu-items {
    flex-basis: calc((100% - 16px) / 2);
  }
}

@media only screen and (max-width: 767px) {
  .list-items {
    column-gap: 16px;
  }
}

.menu-items {
  color: rgba(142, 143, 153, 1);
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .menu-items {
    flex-basis: calc((100% - 48px) / 3);
    max-width: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-items {
    flex-basis: calc((100% - 120px) / 6);
  }
}

.link-items {
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin: 0;

  color: var(--icon);
}
.logo-brand {
  fill: currentColor;
}
.link-items:hover,
.link-items:focus {
  color: #404bbf;
  border-color: #404bbf;
  fill: #404bbf;
}

/* footer*/

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    width: 582px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .footer-container {
    align-items: flex-start;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    width: 1158px;
    flex-wrap: nowrap;
    column-gap: 0;
    align-items: baseline;
    padding-left: 15px;
  }
}

.logo-container {
  display: inline-block;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .logo-container {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .logo-container {
    width: 264px;
    margin-right: 120px;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.light-logo {
  color: #f4f4fd;
}

.footer-desc {
  max-width: 264px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #f4f4fd;
}

.media-container {
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .media-container {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .media-container {
    display: inline-block;
    margin-right: 80px;
  }
}

.media-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--background-color);
}

.media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .media-list {
    margin-bottom: 0;
  }
}

/* Media icons */

.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icons {
  fill: #4d5ae5;
}

.media-link:hover,
.media-link:focus {
  background-color: var(--color-green);
}

@media only screen and (min-width: 768px) {
  .subscribe-footer {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}

.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--background-color);
}

.subscribe-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background-color: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
  .subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
}

@media only screen and (min-width: 768px) {
  .subscribe-input {
    width: 264px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media only screen and (min-width: 1158px) {
  .subscribe-input {
    border: 1px solid #ffffff;
    margin-bottom: 0;
  }
}

.subscribe-input:focus {
  border-color: 1px solid #f4f4fd;
}

.subscrb-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .subscrb-container {
    flex-direction: row;
    align-items: baseline;
    gap: 24px;
  }
}

.btn-footer {
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  display: flex;
  gap: 16px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer-button {
  fill: currentColor;
}

.btn-footer:hover,
.btn-footer:focus {
  background-color: #31d0aa;
}

/* Portfolio */
.rest-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;

  background-color: #f4f4fd;
  padding: 12px 24px;
  border-radius: 4px;
  border-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-prtheader {
  align-items: center;
  display: flex;
  padding-bottom: 96px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.rest-button:hover,
.rest-button:focus {
  color: #ffffff;
  background-color: #404bbf;

  border-color: transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.all-buttons {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-buttons {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
  margin-top: 0;
  padding-left: 0;
}

/* Photo */

.features {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.features-list {
  width: calc((100% - 48px) / 3);
}

.apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.image {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image:hover,
.image:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box-img {
  position: relative;
  overflow: hidden;
}

.text-app {
  position: absolute;
  top: 0;

  color: var(--socials-link);
  background-color: var(--social-link);

  width: 100%;
  height: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #f4f4fd;
  padding: 40px 32px;
  text-align: left;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image:hover .text-app {
  transform: translateY(0%);
}
.image:focus .text-app {
  transform: translateY(0%);
}
